<!DOCTYPE html>
<html>
  <head>
    <title>Population of NYC Boroughs by Decade</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="../static/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <button id="render" type="button">Render</button>
    <button id="transition" type="button">Transition</button>
    <hr>
    <svg id="svg">
    </svg>
  </body>
  <script src="http://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript">
    var data = {{ data|tojson }}
  </script>
  <script src="static/transition.js"></script>
</html>
