<!DOCTYPE html>
<html>
	<head>
		<title>Jinja with Occupations</title>
		<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
		<!-- I think CSS is cached or something because it sticks - had to open incognito window to see changes -->
		<link href="../static/styles/style.css" type="text/css" rel="stylesheet">
	</head>
	<body bgcolor=#f2f2f2>
		<h1>Jinja with Occupations</h1>
		<h3>Team KALEZ - Emily Zhang and Kevin Li</h3>
		<p>Randomly selected occupation: {{ occupation }}</p>
		<table>
			<tr>
				<th align="left">Job Class</th>
				<th align="left">Percentage</th>
			</tr>
			{% for key, value in parent_dict %}
				<tr>
					<td> <a href="{{ value[1] }}"> {{ key }} </a> </td>
					<td> {{ value[0] }} </td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
