<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {% block content %}
    <h2>Type picker</h2>
    <form action="/results">
    <select name="type">
      <option value="bug" required>Bug</option>
      <option value="dragon">Dragon</option>
      <option value="electric">Electric</option>
      <option value="fighting">Fighting</option>
      <option value="fire">Fire</option>
      <option value="flying">Flying</option>
      <option value="ghost">Ghost</option>
      <option value="grass">Grass</option>
      <option value="ground">Ground</option>
      <option value="ice">Ice</option>
      <option value="normal">Normal</option>
      <option value="poison">Poison</option>
      <option value="psychic">Psychic</option>
      <option value="rock">Rock</option>
      <option value="water">Water</option>
    </select>
    <input type="submit" value="Submit">
    </form><hr>
    <!------------------------------------------------------------------------->
    <h2>Get taller Pokemon than specified (in meters)</h2>
    <form action="/results">
      <input type="number" name="minheight" min="0" max="100" required>
      <br><br>
      <input type="submit" value="Submit">
    </form><hr>
    <!------------------------------------------------------------------------->
    <a href="/results?dualtype=true"><h2>Get dual-typed Pokemon</h2></a><hr>
    <!------------------------------------------------------------------------->
    <h2>Type picker + get heavier Pokemon than specified (in kilograms)
    <form action="/results">
    <select name="type">
      <option value="bug" required>Bug</option>
      <option value="dragon">Dragon</option>
      <option value="electric">Electric</option>
      <option value="fighting">Fighting</option>
      <option value="fire">Fire</option>
      <option value="flying">Flying</option>
      <option value="ghost">Ghost</option>
      <option value="grass">Grass</option>
      <option value="ground">Ground</option>
      <option value="ice">Ice</option>
      <option value="normal">Normal</option>
      <option value="poison">Poison</option>
      <option value="psychic">Psychic</option>
      <option value="rock">Rock</option>
      <option value="water">Water</option>
    </select>

    <input type="number" name="minweight" min="0" max="100" required>
    <br>
    <input type="submit" value="Submit">
    </form><hr>
    <!------------------------------------------------------------------------->
    <h2>Find Pokemon strong against this one (type it correctly)</h2>
    <form action="/results">
      <input type="text" name="pokemon" required>
      <input type="submit" value="Submit">
    </form>
    {% endblock %}
  </body>
</html>
