<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Mongo Frontend</title>
  </head>
  <body>
    <h2>Type picker</h2>
    <form action="/results">
    <select name="type">
      <option type="radio" value="bug" required>Bug</option>
      <option type="radio" value="dragon">Dragon</option>
      <option type="radio" value="electric">Electric</option>
      <option type="radio" value="fighting">Fighting</option>
      <option type="radio" value="fire">Fire</option>
      <option type="radio" value="flying">Flying</option>
      <option type="radio" value="ghost">Ghost</option>
      <option type="radio" value="grass">Grass</option>
      <option type="radio" value="ground">Ground</option>
      <option type="radio" value="ice">Ice</option>
      <option type="radio" value="normal">Normal</option>
      <option type="radio" value="poison">Poison</option>
      <option type="radio" value="psychic">Psychic</option>
      <option type="radio" value="rock">Rock</option>
      <option type="radio" value="water">Water</option>
    </select>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
